@import '../mixins/reboot';
@import '../mixins/list';
@import '../variables';
@import '../grid';

@include reboot() {
  :host {
    font-family: $font-family;
    font-size: $font-size;
  }

  .boards {
    padding: $main-padding;
    max-width: $container-max-width;
    margin: auto;
  }

  .board {
    color: $white;
    margin-top: 5px;
    padding: $inner-padding;
    background-color: $third;
    border-radius: $border-radius;
  }

  .list {
    @include remove-ul-styles;
  }
}
