@import '../variables';
@import '../mixins/reboot';
@import '../mixins/cards';
@import '../mixins/forms';
@import "../mixins/fonts";

@include reboot() {
  :host {
    @include font-styles;

    width: 100%;
    font-size: $font-size-sm;
  }

  a, a:visited {
    text-decoration: none;
    color: $black;
  }

  form, .create-new-board {
    display: none;
  }

  .visible {
    display: block;
  }

  .board {
    @include card-board($gray);

    color: $black;
    text-align: center;
    height: 65px;
    width: inherit;
  }

  input {
    @include input;
  }

  .form-actions {
    margin-top: 10px;
  }

  .add {
    margin-right: 3px;
  }
}
