@import "../variables";
@import "../mixins/fonts";
@import "../mixins/content-box";

:host {
  @include font-styles;
}

header {
  width: 100%;
  height: $header-height;

  background-color: $secondary;
}

.logo {
  @include h5-styles;

  color: $primary;
  margin: 0 auto;
  max-width: 150px;
  text-align: center;
  line-height: $header-height;
}
