<template id="tc-create-new-board">
  <style from="/styles/components/CreateNewBoard.css"></style>

  <div class="board">
    <form>
      <input name="name" type="text" />
      <div class="form-actions">
        <a class="add js-add" href="#">Add</a>
        <a class="cancel js-cancel" href="#">Cancel</a>
      </div>
    </form>

    <a class="create-new-board visible js-create-new-board" href="#">Create new board...</a>
  </div>
</template>

<script src="/src/components/CreateNewBoard.js"></script>
