@import '../../styles/mixins/reboot';
@import '../../styles/mixins/list';
@import '../../styles/mixins/cards';
@import '../../styles/variables';
@import '../../styles/grid';

@include reboot() {
  :host {
    font-family: $font-family;
    font-size: $font-size;
  }

  .boards {
    padding: $main-padding;
    max-width: $container-max-width;
    margin: auto;
  }

  a, a:visited {
    text-decoration: none;
    $color: $white;
  }

  .board {
    @include card-board();
  }

  .list {
    @include remove-ul-styles;
  }
}
