// Grid columns
//
// Set the number of columns and gutter size

$gutter: 20px;
$grid-columns: 12;
$container-max-width: 1250px;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

//
// Colors
//
$white: #fff;
$gray: #e2e4e6;
$primary: transparentize($white, 0.3);
$secondary: #026aa7;
$third: #0079bf;

//
// Fonts
//
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-family: $font-family-sans-serif !default;
$font-size: 1em !default;

$h1-font-size: $font-size * 2.5 !default;
$h2-font-size: $font-size * 2 !default;
$h3-font-size: $font-size * 1.75 !default;
$h4-font-size: $font-size * 1.5 !default;
$h5-font-size: $font-size * 1.25 !default;
$h6-font-size: $font-size !default;

//
// Paddings
//
$main-padding: 25px;
$inner-padding: 30px;

//
// Borders
//
$border-radius: 6px;
