@import '../../styles/mixins/reboot';
@import '../../styles/mixins/fonts';
@import '../../styles/variables';

@include reboot() {
  $list-item-width: 270px;
  $list-item-margin: 5px;

  :host {
    @include font-styles;

    display: block;

    height: 95%;
  }

  .list-container {
    height: 100%;
  }

  .list {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
  }

  .list-item {
    display: inline-block;

    height: 100%;
    width: $list-item-width;
    margin-right: $list-item-margin;

    vertical-align: top;
  }
}
