@import '../../styles/mixins/reboot';
@import '../../styles/variables';

@include reboot() {
  :host {
    font-family: $font-family;
    font-size: $font-size;
  }

  .container {
    width: 100vw;
    height: calc(100vh - #{$header-height});
    padding: $main-padding;
    background-color: $third;
  }

  .title {
    margin: 0;
    height: 5%;
    color: $primary;
  }
}
