@import '../variables';

@mixin input {
  font-size: $font-size;
  background-color: transparent;
  border: 1px solid $border-color;
  border-radius: 6px;
  padding: 3px;
  width: 100%;
  max-width: 300px;
}

@mixin textarea {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  overflow-y: auto;
  word-wrap: break-word;
  width: 100%;

  &:focus {
    outline: 0;
  }
}
